$color-Dark-Blue--Dark-Mode-Elements: hsl(209, 23%, 22%);
$color-Very-Dark-Blue--Dark-Mode-Background: hsl(207, 26%, 17%);
$color-Very-Dark-Blue--Light-Mode-Text: hsl(200, 15%, 8%);
$color-Dark-Gray--Light-Mode-Input: hsl(0, 0%, 52%);
$color-Very-Light-Gray--Light-Mode-Background: hsl(0, 0%, 98%);
$color-White--Dark-Mode-Text-and-Light-Mode-Elements: hsl(0, 0%, 100%);

// FONT SIZES

$font-size-Homepage-Items: 1.4rem;
$font-size-Detail-Page: 1.6rem;

// BOX SHADOWS
$b-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.089);

//BREAK POINTS
$bp-539: 33.68em; //539px
$bp-1149: 71.8em; //1149