.countries {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 27rem));
    grid-template-rows: max-content;
    grid-auto-rows: max-content;
    gap: 5rem;
    grid-auto-flow: row;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 5rem;
    max-height: 100%;
}